.App{
  width:100vw;
  height:11vh;
  background-color: blue;
  position:relative;
  display: flex;
  flex-direction: column;
 }

 .header{
  display: flex;
  align-items: center;
  gap: 10px;             /* space between image & h1 */
  padding: 10px; 
  color:white;
 }

.header img{
  width: 40px;
  height: 50px;
  background-color: white;
  border-radius: 30px;
 }

.header h3{
  margin:0;
  padding: 0;
 
}


.header1{
  position: absolute;
  top:10px;
  right:30px;

}

.header1 table td a{
  display: flex;
  align-items: center;
  gap: 10px;             /* space between image & h1 */
  padding: 10px; 
  color:white;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}


